@import './base.css';

#app {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 8em auto 6em;

}

.top-bg {
  grid-row: 1;
  grid-column: 1/-1;
  background-image: url(./images/bg-header-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-color: var(--DesaturatedDarkCyan);
}

.container {
  grid-row: 2;
  grid-column: 2;
  max-width: 1440px;
  width: 100%;
  margin-inline: auto;
  padding: 3em 0em;

  /* background-color: red; */
}

ul {
  width: 100%;
}
.job {
  padding: 3em 1em 1em;
  background: var(--LightGrayishCyan-FilterTablets);
  background: #fff;
  border-radius: 5px;
  position: relative;
}
.featuredJob {
  border-left: .2em solid var(--DesaturatedDarkCyan);
}
li + li {
  margin-top: 1em;
}
header, footer {
  display: flex;
  align-items: center;
  gap: 1em;
}
.company {
  color: var(--DesaturatedDarkCyan);
  font-weight: var(--fw-medium);
}
.new, .feature {
  padding: .2em .4em .1em;
  color: #fff;
  text-transform: uppercase;
  border-radius: 10em;
  font-size: .8rem;
}
.new {
  background-color: var(--DesaturatedDarkCyan);
}
.feature {
  background-color: var(--VeryDarkGrayishCyan);
}

.position {
  font-weight: var(--fw-bold);
  color: var(--VeryDarkGrayishCyan);
  margin: .6em 0;
}
.footer-span {
  position: relative;
  display: block;
  font-size: .8rem;
  color: var(--DesaturatedDarkCyan);

}
footer .footer-span:first-of-type::before {
  display: none;
}
.footer-span::before {
  content: '';
  background-color: var(--DesaturatedDarkCyan);
  width: .25em;
  height: .25em;
  border-radius: 50%;
  position: absolute;
  top: 50%;  
  left: -10px;
  transform: translateY(-50%);
}
.filterBy {
  border-top: 1px solid var(--DarkGrayishCyan);
  padding: 1em 0 0;
  display: flex;
  gap: .5em;
  color: var(--DesaturatedDarkCyan);
  margin: .6em 0;
}
button {
  background-color: var(--LightGrayishCyan-FilterTablets);
  border: 0;
  padding: .6em 1em;
  border-radius: .3em;
  color: inherit;
  cursor: pointer;
}