@import './base.css';

#app {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 8em auto 6em;

}

.top-bg {
  grid-row: 1;
  grid-column: 1/-1;
  background-image: url(./images/bg-header-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-color: var(--DesaturatedDarkCyan);
}

.container {
  max-width: 1440px;
  margin-inline: auto;
  padding-top: 3em;
}

